:host {
  display: inline-block;
  width: 100%;
  /* max-height: 100vh; */
  background-image: url("../../assets/images/header/header-bg.jpg");
  background-position: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* padding-top: 37px;  */
  /* pos */
  position: relative;
}

section {
  width: 100%;
  /* margin: auto; */
  /* max-height: 100%; */
  padding-top: 164px;
  height: 657px;
  position: relative;
}

p {
  font-size: 41.67px;
  margin-bottom: 37px;
}

#exclamation-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  max-width: 90%;
}

#exclamation-smart-object-image {
  width: 588px;
  margin: auto;
  display: block;
  margin-top: -15px;
  max-width: 100%;
}

#exclamation-container h1 {
  font-size: 66px;
  /* color: var(--brand-cta-color-dark); */
  position: absolute;
  transform: rotate(347.05deg);
  margin-left: -35px;
  margin-top: -15px;
}

#exclamation-container h1 span {
  font-size: 62px;
}

#dog-image {
  width: 498px;
  position: absolute;
  bottom: 0;
  right: -51px;
}

#food-bag-image {
  width: 523px;
  position: absolute;
  bottom: -60px;
  left: -30px;
}

@media (max-width: 1445px) {
  #dog-image {
    width: 450px;
    right: -60px;
  }

  #food-bag-image {
    width: 480px;

    left: -40px;
  }
}

@media (max-width: 1275px) {
  #exclamation-container {
    transform: scale(0.9);
  }
  #food-bag-image {
    width: 440px;
  }
  #dog-image {
    width: 400px;
    right: -94px;
  }
}

@media (max-width: 1100px) {
  #exclamation-container {
    transform: scale(0.8);
  }
  #food-bag-image {
    max-width: 380px;
    bottom: -50px;
  }
  #dog-image {
    width: 350px;
  }
}

@media (max-width: 850px) {
  #food-bag-image {
    display: none;
  }
  #exclamation-container {
    margin-right: 30%;
  }
  p {
    margin-right: 30%;
  }
}
@media (max-width: 750px) {
  #exclamation-container h1 {
    font-size: 55px;
  }
  /* p {
    font-size: 38px;
  } */
}
@media (max-width: 650px) {
  #exclamation-container h1 {
    font-size: 44px;
  }
  p {
    font-size: 38px;
  }
}
@media (max-width: 580px) {
  section {
    height: 800px;
  }
  #exclamation-container,
  p {
    margin: auto;
    /* font-size: 55px; */
  }
  #exclamation-container {
    max-width: 100%;
  }
  #exclamation-container h1 {
    /* max-width: 100%; */
    font-size: 55px;
  }
}

@media (max-width: 480px) {
  section {
    height: 755px;
  }

  #exclamation-container h1 {
    /* max-width: 100%; */
    font-size: 44px;
  }

  p {
    font-size: 33px;
  }
}

@media (max-width: 380px) {
  #exclamation-container h1 {
    /* max-width: 100%; */
    font-size: 36px;
  }
}
