<app-navbar></app-navbar>

<section class="overflow-x-none">
  <p class="text-center primary-text uppercase">
    Help your Dog Maintain<br />
    a <span class="cta-dark-text"> Healthier Weight </span> with
  </p>
  <div id="exclamation-container" class="z-index-2">
    <img
      src="../../assets/images/header/exclamation-smart-object.png"
      alt="exclamation-smart-object"
      id="exclamation-smart-object-image"
    />
    <h1 class="text-center primary-text uppercase cta-dark-text">
      100% Organic<br />
      <span> Pet Food </span>
    </h1>
  </div>
  <img
    src="../../assets/images/header/dog.png"
    alt="dog"
    id="dog-image"
    class="z-index-1"
  />
</section>

<img
  src="../../assets/images/shared/food-bag.png"
  alt="food-bag"
  id="food-bag-image"
  class="z-index-3"
/>
