<section>
  <div id="right-side">
    <div id="logo-container">
      <img
        src="../../assets/images/shared/company-logo.png"
        alt="logo"
        id="logo"
      />
    </div>
    <div id="bottom-elements">
      <div id="menu-rights">
        <div id="footer-menu">
          <div id="first-line">
            <span class="secondary-text bold">Shop for Dog</span>
            <span class="secondary-text bold">Shop for Cat</span>
          </div>
          <div id="second-line">
            <span class="secondary-text bold">Our Story</span>
            <span class="secondary-text bold">Contact Us</span>
          </div>
        </div>
        <p class="secondary-text">© Company Name 2020. All rights reserved.</p>
      </div>
      <div id="social-media-icons">
        <span class="icon-instagram white-text"></span>
        <span class="icon-facebook white-text"></span>
        <span class="icon-twitter white-text"></span>
        <span class="icon-whatsapp white-text"></span>
      </div>
    </div>
  </div>
</section>
