:host {
  display: inline-block;
  width: 100%;
  padding: 0 57px 67px 52px;
}
section {
  background-color: #eeeef0;
  background-image: url("../../assets/images/footer/dog-pose.jpg");
  /* background-size: cover; */
  background-size: auto 752px;
  background-position: -6px -72px;
  background-repeat: no-repeat;
  height: 525px;
  display: flex;
  flex-direction: row-reverse;
  padding: 27px;
  border: rgba(61, 61, 61, 0.3) solid 1px;
}

#right-side {
  width: 50%;
  /* background-color: red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo-container {
  padding-top: 177.3px;
}

#logo {
  width: 256px;
  cursor: pointer;
}

#bottom-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#menu-rights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 25px;
}

#footer-menu span {
  font-size: 16.67px;
  line-height: 30px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  cursor: pointer;
}

#footer-menu #first-line span:first-of-type {
  margin-right: 48px;
}

#footer-menu #second-line span:first-of-type {
  margin-right: 39px;
}

#footer-menu span:last-of-type {
  margin-right: 0;
}

#footer-menu p {
  font-size: 16.67px;
  line-height: 20px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
}

#social-media-icons span {
  background-color: var(--brand-cta-color);
  border-radius: 50%;
  margin-right: 12px;
  display: inline-block;
  padding: 5px 3px;
  cursor: pointer;
}

#social-media-icons span:last-of-type {
  margin-right: 0; /*  TODO check if it's not important */
}

@media (max-width: 1275px) {
  section {
    background-position: -60px -72px;
  }
  #footer-menu span {
    font-size: 13px;
  }
}

@media (max-width: 1100px) {
  :host {
    padding: 0;
  }
  section {
    border-color: transparent;
    background-position: -120px -72px;
  }

  #footer-menu #first-line span:first-of-type {
    margin-right: 14px;
  }

  #footer-menu #second-line span:first-of-type {
    margin-right: 14px;
  }
}

@media (max-width: 850px) {
  section {
    background-position: 0px 0px;
    height: 400px;
    background-size: auto 420px;
  }

  #right-side {
    align-items: center;
    justify-content: center;
  }

  #logo-container,
  #bottom-elements {
    height: 50%;
  }

  #logo-container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 240px;
  }

  #bottom-elements {
    flex-direction: column-reverse;
    /* margin-top: 20px; */
  }

  #footer-menu {
    display: none;
  }
  #menu-rights,
  #social-media-icons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #social-media-icons {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #menu-rights p {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 650px) {
  section {
    background-position: -40px 0px;
  }
  #logo {
    width: 210px;
  }
}
@media (max-width: 580px) {
  section {
    background-position: -85px 0px;
  }
  #logo {
    width: 190px;
  }
}

@media (max-width: 480px) {
  section {
    background-position: -150px 0px;
  }
  #logo {
    width: 163px;
  }
  /* 163px */
}
