:host {
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 1000;
}

header {
  max-width: 1275px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container,
nav,
.nav-elements {
  display: inline-block;
}

#nav-toggler {
  display: none;
  border: none;
  cursor: pointer;
}

.logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#companyLogo {
  max-width: 250px;
}

.nav-element {
  list-style-type: none;
  display: inline-block;
  font-size: 60px;
  padding: 0 25px;
  letter-spacing: 0.06em;
  line-height: 20px;
}

.nav-element:last-child {
  padding-right: 0;
}

.nav-element a {
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.nav-element a:hover {
  text-decoration: underline !important;
}

@media (max-width: 1275px) {
  header {
    max-width: 90%;
  }
}

@media (max-width: 1100px) {
  #companyLogo {
    max-width: 175px;
  }
  .nav-element {
    font-size: 20px;
    padding: 0 16px;
  }
}

@media (max-width: 850px) {
  header {
    max-width: 80%;
  }
  nav {
    display: none;
    position: fixed;
  }
  nav.open {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2e2d34;
  }

  #nav-toggler {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 13px;
    min-height: 13px;
    background-color: transparent;
  }
}

@media (max-width: 480px) {
  #companyLogo {
    max-width: 125px;
  }
}
