<header>
  <div class="logo-container">
    <img
      src="../../assets/images/New folder/Logo@2x.png"
      class="logo"
      alt="company-logo"
      id="companyLogo"
    />
  </div>
  <nav class="">
    <ul class="nav-elements">
      <li class="nav-element secondaryText"><a href="#">Shop For Dog</a></li>
      <li class="nav-element secondaryText"><a href="#">Shop For Cat</a></li>
      <li class="nav-element secondaryText"><a href="#">Our Story</a></li>
      <li class="nav-element secondaryText"><a href="#">Contact Us</a></li>
    </ul>
  </nav>
</header>
