<header class="z-index-3">
  <div class="logo-container">
    <img
      src="../../assets/images/compamy-logo.png"
      class="logo"
      alt="company-logo"
      id="companyLogo"
    />
  </div>
  <nav class="">
    <ul class="nav-elements">
      <li class="nav-element secondary-text"><a>Shop For Dog</a></li>
      <li class="nav-element secondary-text"><a>Shop For Cat</a></li>
      <li class="nav-element secondary-text"><a>Our Story</a></li>
      <li class="nav-element secondary-text"><a>Contact Us</a></li>
    </ul>
  </nav>
</header>
