<header class="z-index-3">
  <div class="logo-container">
    <img
      src="../../assets/images/shared/company-logo.png"
      class="logo"
      alt="company-logo"
      id="companyLogo"
    />
  </div>
  <button id="nav-toggler">
    <img
      [src]="
        '../../assets/images/navbar/' + (isNavOpen ? 'close' : 'open') + '.png'
      "
      class="z-index-5"
      alt="navbar-toggler"
      (click)="toggleNavbar()"
    />
  </button>
  <nav class="z-index-4" [class.open]="isNavOpen">
    <ul class="nav-elements">
      <li
        (click)="toggleNavbar()"
        class="nav-element uppercase white-text bold secondary-text"
      >
        <a>Shop For Dog</a>
      </li>
      <li
        (click)="toggleNavbar()"
        class="nav-element uppercase white-text bold secondary-text"
      >
        <a>Shop For Cat</a>
      </li>
      <li
        (click)="toggleNavbar()"
        class="nav-element uppercase white-text bold secondary-text"
      >
        <a>Our Story</a>
      </li>
      <li
        (click)="toggleNavbar()"
        class="nav-element uppercase white-text bold secondary-text"
      >
        <a>Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
