:host {
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 1000;
}

header {
  max-width: 1275px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container,
nav,
.nav-elements {
  display: inline-block;
}

#nav-toggler {
  display: none;
  border: none;
  cursor: pointer;
}

.logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#companyLogo {
  max-width: 250px;
}

.nav-element {
  list-style-type: none;
  display: inline-block;
  font-size: 60px;
  padding: 1.2rem 7px 1.2rem 9px;
  margin: 0 18px;
  letter-spacing: 0.06em;
  /* line-height: 20px; */
  cursor: pointer;
  /* box-sizing: border-box; */
  border-bottom: transparent 2px solid;
  transition: border-color 100ms ease-in-out;
}

.nav-element:last-child {
  margin-right: 0;
}

.nav-element a {
  text-decoration: none;
  font-size: 13px;
  display: block;
}

.nav-element:hover {
  /* text-decoration: underline !important; */
  border-bottom: white 2px solid;
}

@media (max-width: 1275px) {
  header {
    max-width: 90%;
  }
}

@media (max-width: 1100px) {
  #companyLogo {
    max-width: 175px;
  }
  .nav-element {
    font-size: 20px;
    /* padding: 1.2rem 7px 1.2rem 9px;*/
    margin: 0 5px;
  }
}

@media (max-width: 850px) {
  header {
    max-width: 80%;
  }
  #nav-toggler {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 13px;
    min-height: 13px;
    background-color: transparent;
  }
  nav {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    opacity: 0.5;
    width: 100%;
    background-color: #2e2d34;
    transition: left 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  nav.open {
    left: 0;
    opacity: 1;
  }

  .nav-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .nav-element {
    padding: 0;
    margin: 0;
    font-size: 16.67px;
    letter-spacing: 0.16em;
    line-height: 20px;
    padding-top: 29px;
    padding-bottom: 29px;
    margin-top: 1px;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }

  .nav-element:hover,
  .nav-element:active {
    /* text-decoration: underline !important; */
    border-color: transparent;
    background-color: var(--brand-cta-color);
  }

  .nav-element::after {
    content: "";
    position: relative;
    top: 32px;
    width: 80px;
    /* height: 20px; */
    border-bottom: white 1px solid;
    display: block;
    background: red;
    margin: auto;
  }
  /* .nav-element:first-child {
    padding-top: 0;
  }
  .nav-element:last-child {
    padding-bottom: 0;
  } */
  .nav-element:last-child::after {
    content: "";
    /* position: ; */
    top: 0;
    width: 0;
    /* height: 20px; */
    border-bottom: none;
    display: inline;
    background: transparent;
    /* margin: 0; */
  }
}

@media (max-width: 480px) {
  #companyLogo {
    max-width: 125px;
  }
}
