<section class="black-text">
  <div class="col">
    <img
      src="../../assets/images/shared/food-bag.png"
      alt="food-bag"
      id="food-bag-image"
    />
  </div>
  <div class="col">
    <div>
      <h1 class="primary-text">FIND THE RIGHT FOOD FOR YOUR DOG</h1>
      <p class="secondary-text">
        Each formula has been created to deliver nutrition tailored to your
        dog's health needs whatever their size, breed, age, or lifestyle.
      </p>
      <app-cta-btn
        [fontSize]="'12.5'"
        [lineHeight]="'12'"
        [letterSpacing]="'0.06'"
        [buttonText]="'VIEW ALL PRODUCTS'"
        [paddingX]="'33'"
        [paddingY]="'22'"
      ></app-cta-btn>
    </div>
  </div>
</section>
