<img
  src="../../assets/images/story/amazed-dog.png"
  alt="amazed-dog"
  id="amazed-dog-image"
  class=""
/>
<section class="secondary-text">
  <div class="col">
    <div id="story-title-container">
      <h1 class="uppercase bold cta-text">
        <span class="black-text"> Our</span><br />Story
      </h1>
    </div>
  </div>
  <div class="col">
    <div id="story-text-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum su
        spendisse ultrices gravida. Risus commodo viverra maec enas accumsan
        lacus vel facilisis.
      </p>
      <a class="uppercase semi-bold cta-text">Read More</a>
    </div>
  </div>
  <div class="col">
    <img
      src="../../assets/images/shared/food-bag.png"
      alt="food-bag"
      id="food-bag-image"
    />
  </div>
</section>
