<section class="black-text">
  <div class="col">
    <div>
      <h1 class="primary-text">THE PERFECT START TO LIFE</h1>
      <p class="secondary-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <app-cta-btn
        [fontSize]="'16.67'"
        [lineHeight]="'12'"
        [letterSpacing]="'0'"
        [buttonText]="'LEARN MORE'"
        [paddingX]="'25'"
        [paddingY]="'21'"
      ></app-cta-btn>
    </div>
  </div>
  <div class="col">
    <img
      src="../../assets/images/start-life/dog.png"
      alt="dog"
      id="dog-image"
    />
  </div>
</section>
