:host {
  display: inline-block;
  padding: 79.7px 135px 129px 264px;
}
section {
  display: flex;
}

section div h1 {
  font-size: 54.17px;
  line-height: 66.67px;
  letter-spacing: 0;
  margin-bottom: 16.3px;
}

section div p {
  font-size: 20.83px;
  line-height: 33.33px;
  letter-spacing: 0;
  margin-bottom: 35.5px;
}

#dog-image {
  width: 395.5px;
}

.col {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

h1 {
  margin: 0;
}

section div.col:last-child {
  /* background-color: red; */
  width: fit-content;
}

/* main-padding: 79.7px 135px 129px 264px; */

@media (max-width: 1275px) {
  :host {
    padding-left: 135px;
    padding-bottom: 115px;
  }
}

@media (max-width: 1100px) {
  :host {
    padding: 80px;
  }
  #dog-image {
    width: 350px;
  }
  section div h1 {
    font-size: 45px;
  }
  section div p {
    font-size: 16.67px;
  }
}

@media (max-width: 850px) {
  :host {
    padding: 65px 0px;
  }

  section {
    max-width: 90%;
    margin: auto;
  }

  #dog-image {
    width: 300px;
  }

  section div h1 {
    font-size: 33.33px;
  }

  section div p {
    font-size: 16.67px;
  }
}
@media (max-width: 650px) {
  /* :host {
    padding: 50px 0px 50px 0px;
  }*/
  section {
    width: 80%;
    /* margin: auto; */
    text-align: center;
  }
  #dog-image {
    display: none;
  }
  section div p {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
}

@media (max-width: 480px) {
}
