/* You can add global styles to this file, and also import other style files */

:root {
  --primaryFont: "Amatic SC", cursive;
  --secondaryFont: "Montserrat", sans-serif;
}

.primaryText {
  font-family: var(--primaryFont);
}

.secondaryText {
  font-family: var(--secondaryFont);
}

.container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
}
