/* You can add global styles to this file, and also import other style files */

:root {
  /* Fonts */
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Montserrat", sans-serif;

  --brand-cta-color: #2ea2d0;
  --brand-cta-color-dark: #0072a8;
  --brand-black-color: #452a31;
  --brand-white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.cta-text {
  color: var(--brand-cta-color);
}
.cta-bg {
  background-color: var(--brand-cta-color);
}
.cta-dark-text {
  color: var(--brand-cta-color-dark);
}
.black-text {
  color: var(--brand-black-color);
}
.white-text {
  color: var(--brand-white-color);
}

.primary-text {
  font-family: var(--primary-font);
  font-weight: bold;
}

.secondary-text {
  font-family: var(--secondary-font);
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.overflow-x-none {
  overflow-x: hidden;
}

.overflow-y-none {
  overflow-x: hidden;
}

.z-index-1 {
  z-index: 250;
}

.z-index-2 {
  z-index: 500;
}

.z-index-3 {
  z-index: 1000;
}
